#about-page-content{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0 50px;
    text-align: justify;
}
.about-content{
    display: flex;
    flex-direction: column;
  
    justify-content: center;
}
.about-content p{
 margin: 5px 0;
 text-align: left;
 font-size: 1.2rem;
}

#about-page img{
    width: 40%;
}

@media screen and (max-width: 768px)  {
    #about-page-content{
        flex-direction: column;
        margin-bottom: 20px;
    }
    #about-page img{
        width: 100%;
    }

    .about-content p{
        font-size: 0.9rem;
        margin: 3px;
    }
}
